.profile-container {
    margin-top: 40px;
    margin-bottom: 40px;
}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.profile-photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
}
.scroll-horizontal {
    white-space: nowrap;
    overflow-x: auto;
}
.scroll-horizontal .card {
    display: inline-block;
    width: 250px;
}
.scroll-vertical {
    height: 300px;
    overflow-y: auto;
}
.profile-course-photo {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.appointment-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden { display: none; }