<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <head th:include="fragments/head:: headerFragment (pageTitle = ${course.getTitle()})">
  </head>
</head>
<body>

<div th:replace="~{/fragments/color-toggle}">Color toggle</div>

<div th:replace="~{fragments/header::navbar(activeLink=${'courses'})}">Header</div>

<div class="b-example-divider"></div>

<div class="container my-5">
  <!-- Hero Section -->
  <div class="hero-section mb-5">
    <h1 th:text="${course.title}">Course Title</h1>
    <h4 th:text="'Instructor: ' + ${course.instructor.name}">Instructor Name</h4>
  </div>

  <div class="row">
    <!-- Left Section -->
    <div class="col-md-4">
      <!-- Course Photo -->
      <div class="card card-shadow">
        <img th:src="${course.imageUrl}" class="course-photo" alt="Course Image">
      </div>

      <!-- Course Details -->
      <div class="card card-shadow p-3 text-center">
        <h3 th:text="${course.title}">Course Title</h3>
        <img th:src="${course.instructor.photoUrl}" class="instructor-photo mb-3" alt="Instructor Photo">
<!--        <p th:text="'Term: ' + ${course.term}">Term</p>-->
        <p th:text="'Instructor: ' + ${course.instructor.name}">Instructor</p>
        <form th:action="@{/course/enroll/{id}(id=${course.getId()})}" th:method="POST">
          <button th:if="${isAlreadyEnrolled}" type="submit" class="btn btn-primary enroll-button" disabled>Enroll</button>
          <button th:unless="${isAlreadyEnrolled}" type="submit" class="btn btn-primary enroll-button">Enroll</button>
        </form>
      </div>

      <th:block th:if="${isAlreadyEnrolled && !isCourseOwner}">
      <div class="card card-shadow p-3 text-center">
          <div class="container mt-2">
            <h5 class="text-center">Make an appointment</h5>
            <p th:if="${errorDt}" class="text-danger">Select an available slot in the future.</p>

            <form th:action="@{/course/make-appointment/{courseId}(courseId=${course.getId()})}"
                  th:method="POST"
                  th:object="${dateTimeObject}">
              <div class="form-group">
                <label for="datetimepicker" class="d-block text-center mb-2">Choose a date and time:</label>
                <div class="input-group date mx-auto" id="datetimepicker" data-target-input="nearest" style="width: 250px;">
                  <input th:field="*{dateTime}" type="text" class="form-control datetimepicker-input text-center" placeholder="Press calendar" data-target="#datetimepicker"/>
                  <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
                    <div class="input-group-text" style="height: 100%; display: flex; align-items: center;justify-content: center;">
                      <i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
              <div class="form-group text-center mt-2">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
            <th:block th:if="${successApt}">
              <p class="text-success mt-2">Appointment made successfully for:</p>
              <p class="text-success" th:text="${dateTimeObjectSuccess.dateTime}"></p>
            </th:block>
          </div>
      </div>
      </th:block>

    </div>

    <!-- Right Section -->
    <div class="col-md-8">
      <!-- Course Description -->
      <div class="card card-shadow p-3 mb-4">
        <h3>Description</h3>
        <p th:text="${course.description}">Course description goes here.</p>
      </div>

      <!-- Students List -->
      <div class="card card-shadow p-3 mb-4">
        <h3>Students</h3>
        <div class="d-flex flex-wrap">
          <div th:if="${course.students.size() == 0}">No students currently enrolled</div>
          <div th:each="student : ${course.students}" class="student-card">
            <img th:src="${student.photoUrl}" class="student-photo" alt="Student Photo">
            <div class="student-name" th:text="${student.name}">Student Name</div>
          </div>
        </div>
      </div>

      <div th:if = "${isAlreadyEnrolled}" class="card card-shadow p-3 mb-4" style="height: 350px">
        <h5>Appointments</h5>
        <p th:if="${course.appointments.size() == 0}">No appointments</p>
        <div class="mt-2" style="height: 300px; overflow-y: auto;">
          <a th:each="app : ${course.appointments}" th:href="@{/}" style="text-decoration: none">
            <div class="card p-2 mb-2">
              <div class="ps-4 pe-4" style="display: flex; justify-content: space-between; align-items: center;">
                <span th:text="${app.studentName}">Student Name</span>
                <span th:text="${app.username}">Student Name</span>
                <span th:text="${#temporals.format(app.date, 'dd-MM-yyyy HH:mm')}">July 30, 2024 - 10:00 AM</span>
                <!--  <span>Room 101</span>-->
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>

<div th:replace="~{fragments/footer}">Footer</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js"></script>

<script>
  $(document).ready(function(){
    $('#datetimepicker').datetimepicker({
      format: 'DD-MM-YYYY HH:mm',
      stepping: 30,
      icons: {
        time: 'fas fa-clock',
        date: 'far fa-calendar-alt',
        up: 'fas fa-chevron-up',
        down: 'fas fa-chevron-down',
        previous: 'fas fa-chevron-left',
        next: 'fas fa-chevron-right',
        today: 'far fa-calendar-check',
        clear: 'far fa-trash-alt',
        close: 'far fa-times-circle'
      },
      buttons: {
        showToday: true,
        showClear: true,
        showClose: true
      }
    });

    $('#datetimepicker').on('focus', function () {
      $(this).datetimepicker('show');
    });
  });
</script>
</body>

</html>
