<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <head th:include="fragments/head:: headerFragment (pageTitle = 'Profile: ' + ${username})">
    </head>
</head>
<body>

<div th:replace="~{/fragments/color-toggle}">Color toggle</div>

<div th:replace="~{fragments/header::navbar(activeLink=${'profile'})}">Header</div>

<div class="b-example-divider"></div>

<div class="profile-container">
    <div class="row m-4">
        <!-- Profile Section -->
        <div class="col-lg-4" >
            <div class="card pt-3 ps-5 pe-5 mb-3 ">
                <div class="text-center">
                    <h4>Welcome!</h4>
                    <p th:text="${userData.username}">Username</p>
                    <img th:src="${userData.profilePhotoUrl}" alt="Profile Photo" class="profile-photo">
                    <div th:object="${profilePhotoObject}">
                        <button id="changeProfilePictureButton" class="btn btn-primary mt-3"
                                th:text="${userData.profilePhotoUrl == null} ? 'Add Profile Picture' : 'Change Profile Picture'">
                        </button>
                        <p th:if="${#fields.hasErrors('profilePhotoUrl')}"
                               th:errors="*{profilePhotoUrl}"
                               class="danger text-danger" style="font-size: 15px">Profile photo error message</p>
                        <div id="profilePictureForm" class="mt-3 hidden">
                            <form th:action="@{/profile/add-profile-photo}"
                                  th:method="POST">
                                <div class="input-group">
                                    <input th:field="*{profilePhotoUrl}" type="url" name="profilePictureUrl" class="form-control" placeholder="Enter image URL" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-success" type="submit">Submit</button>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>

                    <h5 class="mt-3">Bio:</h5>
                    <p th:text="${userData.biography}">Bio</p>
                    <span>Random quote:</span>
                    <p style="font-style: italic;" th:text="'&quot;' + ${randomQuote.quote} + '&quot; - ' + ${randomQuote.author}"></p>
                </div>
            </div>
        <!-- Appointments  -->
            <div class="card p-4 mt-4 mb-4" style="height: 397px">
                <h5>Appointments made by you</h5>
                <div class="scroll-vertical">
                    <div th:if="${userData.getAppointments().size() == 0}">
                        <p class="ms-2">No appointments to display</p>
                    </div>
                    <a th:each="app : ${userData.appointments}" th:href="@{/appointment/{id}(id=${app.id})}" style="text-decoration: none">
                        <div class="card p-2 mb-2">
                            <div class="appointment-info">
                                <span th:text="${app.courseTitle}">Course 1</span>
                                <span th:text="${#temporals.format(app.date, 'dd-MM-yyyy HH:mm')}">July 30, 2024 - 10:00 AM</span>
<!--                                <span>Room 101</span>-->
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>



        <!-- Courses -->
        <div class="col-lg-8">
            <!-- My Courses Section -->
            <div class="card p-3 mb-4" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px;">
                <h5>Attending Courses</h5>
                <div class="scroll-horizontal">
                    <div th:if="${userData.getCoursesAttending().size() == 0}">
                        <p class="ms-2">Not attending any courses</p>
                    </div>
                    <div th:each="course : ${userData.coursesAttending}" class="card m-2">
                        <a th:href="@{/course/{id}(id=${course.id})}" class="card" style="text-decoration: none;">
                            <img th:src="${course.courseImageUrl}" alt="Course Photo" class="profile-course-photo">
                            <div class="card-body">
                                <h6 th:text="${course.title}" class="card-title">Course Title 1</h6>
                                <p class="card-text">Term: Spring 2024</p>
                                <p class="card-text">Start Date: <span th:text="${course.startDate}"> January 10, 2024</span></p>
                                <p class="card-text">End Date: <span th:text="${course.startDate}"> May 10, 2024</span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div sec:authorize="hasRole('TUTOR')" class="card p-3 mb-4" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px;">
                <h5>My Courses</h5>
                <div class="scroll-horizontal">
                    <div th:if="${userData.getCoursesTutoring().size() == 0}">
                        <p class="ms-2">Not attending any courses</p>
                    </div>
                    <div th:each="course : ${userData.coursesTutoring}" class="card m-2">
                        <a th:href="@{/course/{id}(id=${course.id})}" class="card" style="text-decoration: none;">
                            <img th:src="${course.courseImageUrl}" alt="Course Photo" class="profile-course-photo">
                            <div class="card-body">
                                <h6 th:text="${course.title}" class="card-title">Course Title 1</h6>
                                <p class="card-text">Term: Spring 2024</p>
                                <p class="card-text">Start Date: <span th:text="${course.startDate}"> January 10, 2024</span></p>
                                <p class="card-text">End Date: <span th:text="${course.startDate}"> May 10, 2024</span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div th:replace="~{fragments/footer}">Footer</div>

<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function() {
        $('#changeProfilePictureButton').on('click', function() {
            $('#profilePictureForm').toggleClass('hidden');
        });
    });
</script>
</body>
</html>
