<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .register-form {
            width: 360px;
            margin: 100px auto;
            padding: 30px;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        .register-form h2 {
            text-align: center;
            margin-bottom: 30px;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-control {
            height: 40px;
        }
        .register-btn {
            width: 100%;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="register-form">
        <h2 th:text="#{register_title}">Register</h2>
        <form th:action="@{/register}"
              th:method="POST"
              th:object="${userRegisterObject}">
            <div class="form-group">
                <label th:for="username" th:text="#{register_username}">Username</label>
                <input th:field="*{username}"
                       type="text"
                       th:placeholder="#{register_username}"
                       class="form-control"
                       min = 4, max = 20
                       required>
                <small th:if="${#fields.hasErrors('username')}"
                       th:errors="*{username}"
                       class="danger" style="font-size: 15px">Username error message</small>
            </div>
            <div class="form-group">
                <label th:for="fullName" th:text="#{register_full_name}">Full Name</label>
                <input th:field="*{fullName}"
                       type="text"
                       th:placeholder="#{register_full_name}"
                       class="form-control"
                       min = 2, max = 50
                       required>
                <small th:if="${#fields.hasErrors('fullName')}"
                       th:errors="*{fullName}"
                       class="danger" style="font-size: 15px">Fullname error message</small>

            </div>
            <div class="form-group">
                <label th:for="email" th:text="#{register_email}">Email</label>
                <input th:field="*{email}"
                       type="email"
                       th:placeholder="#{register_email}"
                       class="form-control"
                       required>
                <small th:if="${#fields.hasErrors('email')}"
                       th:errors="*{email}"
                       class="danger" style="font-size: 15px">Email error message</small>

            </div>
            <div class="form-group">
                <label th:for="password" th:text="#{register_password}">Password</label>
                <input th:field="*{password}"
                       type="password"
                       th:placeholder="#{register_password}"
                       class="form-control"
                       min = 8
                       required>
                <small th:if="${#fields.hasErrors('password')}"
                       th:errors="*{password}"
                       class="danger" style="font-size: 15px">Password error message</small>

            </div>
            <div class="form-group">
                <label th:for="confirmPassword" th:text="#{register_confirm_password}">Confirm Password</label>
                <input th:field="*{confirmPassword}"
                       type="password"
                       th:placeholder="#{register_confirm_password}"
                       class="form-control"
                       min = 8
                       required>
                <small th:if="${#fields.hasErrors('confirmPassword')}"
                       th:errors="*{confirmPassword}"
                       class="danger"
                       style="font-size: 15px">Password error message</small>
                <small th:if="${passwordsDoNotMatch}"
                       class="danger"
                       style="font-size: 15px">Passwords do not match!</small>

            </div>
            <button type="submit"
                    class="btn btn-primary register-btn"
                    th:text="#{register_title}">
                Register
            </button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
