<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxOTM4NjAwM3w&ixlib=rb-4.0.3&q=80&w=1080"
                 class="d-block mx-lg-auto img-fluid rounded-4 opacity-75 shadow-lg"
                 alt="Sign-up-image"
                 width="700"
                 height="500"
                 loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Like what you see?</h1>
            <p class="lead">Sign up to get access to our freelance tutors.
                If you can't find what you're looking for, signing up lets you make posts, which our tutors
                can respond to! Already have an account and you made it here somehow? Congrats, log in below!
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a th:href="@{/register}" role="button" class="btn btn-primary btn-lg px-4 me-md-2">Sign Up</a>
<!--                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Sign Up</button>-->
                <a th:href="@{/login}" role="button" class="btn btn-outline-secondary btn-lg px-4">Log In</a>
<!--                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Log In</button>-->
            </div>
        </div>
    </div>
</div>