<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Ready to dive into learning?</h1>
            <p class="lead">A world of tutors awaits you! Any subject you can think of learning about, we've got it. Have something to offer as a tutor? Sign up and apply to become a tutor today!!</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a th:href="@{/register}" role="button" class="btn btn-primary btn-lg px-4 me-md-2">Sign Up</a>
                <a th:href="@{/login}" role="button" class="btn btn-outline-secondary btn-lg px-4">Log In</a>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="https://media.istockphoto.com/id/1320882544/photo/glowing-light-bulb-and-book-or-text-book-with-futuristic-icon-self-learning-or-education.jpg?s=612x612&w=0&k=20&c=1fCGnLilpVhM1rw2DKgtTcujYezmelfPFYPB4dyhuuk=" alt="" width="720">
        </div>
    </div>
</div>